package wishlist

import (
"elf/internal/core"
)

templ Wishlist(w core.Wishlist) {
<span class="flex flex-col items-center justify-stretch w-36 border border-gray-200">
  <h2 class="text">{ w.Name }</h2>
  <img src={ w.Image } />
</span>
}
